<p>Se ha redactado tu Convenio Marco. Vuelve atras, imprímelos, y llevalos tanto al empresario como al director de la carrera para que los firme.</p>
<p>Es posible que debas adaptar el texto, copiando y pegando en un procesador de textos, e imprimirlos nuevamente hasta que todas las partes (alumno, empresario y escuela) confirmen que la pasantía 
	puede realizarse de acuerdo al beneplacito de todos, y dentro de los marcos correctos que dicta la ley. </p>

<%= link_to 'Volver y refrescar tu estado', internships_path %>