<h2>Bienvenido al Departamento de Práctica Profesional</h2>

<p>
	¿Para que te sirve...?
</p>

<p>
	Es una oficina virtual donde podras resolver todo lo referente a Pasantías, Práctica Profesional y Bolsa de Trabajo.
	<br/>
	Está destinado a alumnos, empresas, profesores y autoridades de la Escuela, los que según el nivel de usuario que posean podrán ofrecer pasantías, postularse a ofertas, publicar currículums, etc.
  <br/>
  Al ofrecer ofertas de pasantías o trabajo, o al postularse, recuerden tener en cuenta la reglamentación vigente fechada el 27/10/2009 entre el Ministerio de Trabajo de la Nación y el Ministerio de Educación número 825-338/2009, que reglamenta la Ley 26.427 1 de Pasantías Educativas. El texto puede encontrarse <a href="http://www.eim.esc.edu.ar/dpp/manual_dpp/2015/pasantias-educativas-reglamentacion-oct-09.pdf">aquí</a>. Para automatizar esta forma legal, luego de postularse, el alumno puede generar aquí el contrato individual con estos artículos ya incluídos, para ser revisados y consensuados junto al empresario.
</p>

<% usuarioEnCurso = User.find_by_id(session[:user_id]) %>

<% if usuarioEnCurso.manager == true %>
  <!-- nada por aqui (todavia). Algo se me va a ocurrir -->
<% else %>

	<p>Si es tu PRIMER TRABAJO, es recomendable leer ademas estos <a href="http://www.eim.esc.edu.ar/dpp1/TallerMiPrimerEmpleoDefinitivo.ppt">prácticos consejos</a> pertenecientes a la Consultora "Sesa Select" en motivo del Taller Primer Empleo <a href="http://eim.esc.edu.ar/joomla/index.php/noticias-de-la-escuela/55-institucionales-categoria/235-taller-primer-empleo"> que brindaron en nuestra institución.</a>
	</p>

	<p>
		MANUAL DE PASANTIAS y PRÁCTICAS PROFESIONALES: Este manual está destinado a alumnos, empresas y profesores que realicen algún tipo de pasantía, práctica profesional o salida de estudio. Clickea <a href="http://www.eim.esc.edu.ar/dpp/manual_dpp/">aquí</a> para conocerlo
	</p>

	<p>
		<b>DATOS DE CONTACTO</b>
		<ul>
			<li>
				Dirección Carrera de Turismo y Hotelería: Mariana Ghiretti
				<ul>
					<li>
						Mariana Ghiretti: turismoyhoteleria@eim.esc.edu.ar
					</li>
				</ul>
			</li>
			<li>
				Dirección Carrera de Gastronomía / Sommeleria
				<ul>
					<li>
						Leandro Carranza: gastronomia@eim.esc.edu.ar
					</li>
				</ul>
			</li>
		</ul>
	</p>


	<p>
		<b>ATENCIÓN DEL DPP EN VACACIONES</b>
	</p>
	<ul>
		<li>pasantias@eim.esc.edu.ar - Serán chequeados una vez por semana.</li>
		<li>Oficina virtual: www.eim.esc.edu.ar/dpp1 (que apunta al sitio actual, presente en http://dpp1.heroku.com)</li>
		<li>En vacaciones solo se atenderán casos de urgencia RELACIONADAS a las prácticas profesionales, ninguna consulta académica</li>
		<ul>Los informes del año anterior, <%= Time.now.year - 1 %>, se recibirán informes hasta el <b>20/02/<%= Time.now.year %></b>
			<li>Los alumnos que no completen las cantidades de horas  y la presentación de los informes,  pedidos en los programas respectivos, quedarán en condición de <b>RECURSANTE</b>.</li>
		</ul>
	</ul>
<% end %>
