<h1>Bienvenido</h1>

<p>
	Es la hora <%= Time.now %>
</p>

<p>
	Bienvenido al Departamento de Práctica Profesional
</p>

<p>
	¿Para que te sirve...?
</p>

<p>
	Es una oficina virtual donde podras resolver todo lo referente a Pasantías, Práctica Profesional y Bolsa de Trabajo.
	Está destinado a alumnos, empresas, profesores y autoridades de la Escuela, los que según el nivel de usuario que posean podrán ofrecer pasantías, postularse a ofertas, publicar currículums, etc, etc, etc.... mirá mas detalles aquí!
	Si es tu PRIMER TRABAJO, es recomendable leer ademas estos practicos consejos pertenecientes a la Consultora Sesa Select en motivo del Taller Primer Empleo que brindaron en nuestra institución.
</p>

<p>
	MANUAL DE PASANTIAS y PRÁCTICAS PROFESIONALES
</p>

<p>
	Este manual está destinado a alumnos, empresas y profesores que realicen algún tipo de pasantía, práctica profesional o salida de estudio. Clikea Aquí para conocerlo
</p>

<p>
	HORARIOS DE ATENCIÓN
</p>

<table border="1" width="100%" bordercolor="#000000" cellspacing="0"  ordercolorlight="#000000" bordercolordark="#000000" >
	<tr>
		<td></td>
		<td valign="middle" align="center">Lunes</td>
		<td valign="middle" align="center">Martes</td>
		<td valign="middle" align="center">Miercoles</td>
		<td valign="middle" align="center">Jueves</td>
		<td valign="middle" align="center">Viernes</td>
	</tr>

	<tr>
		<td valign="middle" align="center">09 a 15</td>
		<td valign="middle" align="center">María José Gione
		<br>
		</td>
		<td valign="middle" align="center">María José Gione
		<br>
		</td>
		<td valign="middle" align="center">María José Gione
		<br>
		</td>
		<td valign="middle" align="center">María José Gione
		<br>
		</td>
		<td valign="middle" align="center">María José Gione
		<br>
		</td>

</table>
<br>

</font></td></tr></table></td></tr></table>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<table border="0" width="100%">
			<tr align="center" valign="middle">
				<td><font class="pn-title">
					<br>
					ATENCIÓN DEL DPP EN VACACIONES
					<br>
					<br>
				</font></td>
			</tr>
			<tr align="left" valign="middle">
				<td><font class="pn-normal">En caso de urgencia enviar mails a :

					mghiretti.ei&#109;&#064;&#103;mail.com

					Serán chequeados una vez por semana.

					En todos los casos enviar CC a pasantia&#115;&#064;&#101;im.esc.edu.ar
					<br>
					<br>
					*- Oficina virtual: www.eim.esc.edu.ar/dpp1
					<br>
					<b>ATENCIÓN : solo se atenderán casos de urgencia RELACIONADAS  a las prácticas profesionales, ninguna consulta académica<b></font></td>
			</tr>
		</table></td>
	</tr>
</table>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<table border="0" width="100%">
			<tr align="center" valign="middle">
				<td><font class="pn-title">
					<br>
					PRESENTACION DE INFORMES  HORAS DEL 2010
					<br>
					<br>
				</font></td>
			</tr>
			<tr align="left" valign="middle">
				<td><font class="pn-normal">Se recibirán informes hasta el <b>20/02/11</b>.
					<br>
					<br>
					los alumnos que no completen las cantidades de horas  y la presentación de los informes,  pedidos en los programas respectivos, quedarán en condición de <b>RECURSANTE</b>.
					<br>
