<h2>Bienvenido al Departamento de Práctica Profesional</h2>

<p>
	¿Para que te sirve...?
</p>

<p>
	Es una oficina virtual donde podras resolver todo lo referente a Pasantías, Práctica Profesional y Bolsa de Trabajo.
	<br/>
	Está destinado a alumnos, empresas, profesores y autoridades de la Escuela, los que según el nivel de usuario que posean podrán ofrecer pasantías, postularse a ofertas, publicar currículums, etc.
	<br/>
</p>

<% usuarioEnCurso = User.find_by_id(session[:user_id]) %>

<% if usuarioEnCurso.manager == true %>
  <!-- nada por aqui (todavia). Algo se me va a ocurrir -->
<% else %>

	<p>Si es tu PRIMER TRABAJO, es recomendable leer ademas estos <a href="http://www.eim.esc.edu.ar/dpp1/TallerMiPrimerEmpleoDefinitivo.ppt">prácticos consejos</a> pertenecientes a la Consultora "Sesa Select" en motivo del Taller Primer Empleo <a href="http://eim.esc.edu.ar/joomla/index.php/noticias-de-la-escuela/55-institucionales-categoria/235-taller-primer-empleo"> que brindaron en nuestra institución.</a>
	</p>
	
	<p>
		MANUAL DE PASANTIAS y PRÁCTICAS PROFESIONALES: Este manual está destinado a alumnos, empresas y profesores que realicen algún tipo de pasantía, práctica profesional o salida de estudio. Clickea <a href="http://www.eim.esc.edu.ar/dpp/manual_dpp/">aquí</a> para conocerlo
	</p>
	
	<p>
		<b>DATOS DE CONTACTO</b>
		<ul>
			<li>
				Dirección Carrera de Turismo y Hotelería: Mariana Ghiretti
				<ul>
					<li>
						turismo@eim.esc.edu.ar
					</li>
					<li>
						hoteleria@eim.esc.edu.ar
					</li>
					<li>
						mghiretti.eim@gmail.com
					</li>
				</ul>
			</li>
			<li>
				Dirección Carrera de Gastronomía / Sommeleria
				<ul>
					<li>
						gastronomia@eim.esc.edu.ar
					</li>
					<li>
						sommelier@eim.esc.edu.ar
					</li>
					<li>
						leitocarranza@hotmail.com
					</li>
				</ul>
			</li>
		</ul>
	</p>
	
	
	<p>
		<b>ATENCIÓN DEL DPP EN VACACIONES</b>
	</p>			
	<ul>
		<li>sergio@eim.esc.edu.ar - Serán chequeados una vez por semana.</li>
		<li>Oficina virtual: www.eim.esc.edu.ar/dpp1 (que apunta al sitio actual, presente en http://dpp1.heroku.com)</li>
		<li>En vacaciones solo se atenderán casos de urgencia RELACIONADAS a las prácticas profesionales, ninguna consulta académica</li>
		<ul>PRESENTACION DE INFORMES HORAS DEL <%= Time.now.year - 1 %>
			<li>Se recibirán informes hasta el <b>20/02/<%= Time.now.year %></b>.</li>
			<li>Los alumnos que no completen las cantidades de horas  y la presentación de los informes,  pedidos en los programas respectivos, quedarán en condición de <b>RECURSANTE</b>.</li>
		</ul>
	</ul>
<% end %>