<h1>Bienvenido</h1>

<%= render 'form' %>


<% user = User.find_by_id(session[:user_id]) %>
  <% if user %> <!-- Para evitar una excepcion preguntando sin estar logueado -->
	<% if user.admin == true %>
      <%= link_to 'Listado', users_path %>  
    <% end %>
<% end %>


