<b>Gracias! Ha quedado postulado a esta pasantía. Por favor verifique en unos días con su director de carrera si ha quedado seleccionado!</b>
<p>Tambien hemos habilitado al empresario para que se pueda contactar directamente al celular o al email</p>
<p>Buena suerte en la entrevista de trabajo </p>
