<b>Gracias! Ha quedado postulado a esta pasantía. Por favor verifique en unos días con su director de carrera si ha quedado seleccionado!</b>
<p>Tambien hemos liberado tus datos de contacto para que el empresario pueda contactarse contigo</p>
