// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
p {
  font-size:14px;
}
 
body { 
  background-image:url('fondo3-claro.jpg');
}

#formlogin {
  width:600px;
  margin-left: auto ;
  margin-right: auto ;

}

#formlogin h3{
  text-align:center;  
}

#encabezado-session {
  width:600px;
  margin-left: auto ;
  margin-right: auto ;
}

#encabezado-session h2 {
  text-align:center;
}


fieldset { border:1px solid white;
padding: 0.5em 0.5em 0.5em 0.5em; }

legend {
  padding: 0.2em 0.5em;
  border:1px solid black;
  color:black;
  font-size:90%;
  text-align:center;
  }