<!DOCTYPE html>
<html>
	<head>
		<title>Pasantes</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body background="/assets/fondo2.jpg">
		<img src="/assets/logonuevo.escuela-chico.jpg" align="right">		
	    <hr>
	    <center>
		    <h2>Escuela Internacional de Turismo, Hotelería</h2>
		    <h2>y Gastronomía - Fundación Islas Malvinas</h2>		    	
	    </center>    
         
		
		<%= yield %>

	</body>
</html>
